page {
  background: #ffffff;
}

.page {
  min-height: 100vh;
  margin-bottom: 5vh;
}

.card-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8vw;
  margin-top: 30vw;
}

.header-accent {
  width: calc(31rpx + 1vw);
  height: 30vw;
  border-radius: 8rpx;
  background: #ffd44a;
  margin-right: 28rpx;
  margin-left: -20rpx;
}

.header-title {
  width: 70vw;
  height: 31vw;
  background-repeat: none;
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 75 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.916 11.248C9.22 10.36 9.508 9.62 9.78 9.028C10.052 8.436 10.324 7.968 10.596 7.624C10.868 7.272 11.148 7.02 11.436 6.868C11.732 6.716 12.048 6.64 12.384 6.64C12.728 6.64 12.976 6.72 13.128 6.88C13.288 7.04 13.372 7.26 13.38 7.54C13.388 7.812 13.34 8.116 13.236 8.452L12.06 11.98C12.02 12.092 11.992 12.2 11.976 12.304C11.968 12.4 11.984 12.48 12.024 12.544C12.064 12.6 12.132 12.628 12.228 12.628C12.348 12.628 12.476 12.56 12.612 12.424C12.748 12.288 12.892 12.012 13.044 11.596L13.236 11.056H13.464L13.164 11.932C13.052 12.268 12.908 12.524 12.732 12.7C12.556 12.876 12.368 12.996 12.168 13.06C11.976 13.132 11.788 13.168 11.604 13.168C11.268 13.168 11.016 13.096 10.848 12.952C10.688 12.808 10.604 12.596 10.596 12.316C10.596 12.036 10.656 11.708 10.776 11.332L11.88 8.032C11.928 7.888 11.96 7.752 11.976 7.624C12 7.488 11.992 7.38 11.952 7.3C11.92 7.212 11.836 7.168 11.7 7.168C11.484 7.168 11.248 7.3 10.992 7.564C10.736 7.828 10.472 8.208 10.2 8.704C9.936 9.192 9.672 9.784 9.408 10.48C9.144 11.176 8.892 11.964 8.652 12.844L8.916 11.248ZM9.684 3.748C9.972 3.724 10.244 3.692 10.5 3.652C10.764 3.604 11.008 3.54 11.232 3.46L8.616 13C8.616 13 8.564 13 8.46 13C8.364 13 8.24 13 8.088 13C7.944 13 7.8 13 7.656 13C7.512 13 7.388 13 7.284 13C7.188 13 7.14 13 7.14 13L9.684 3.748ZM4.872 4.732C4.872 4.732 4.924 4.736 5.028 4.744C5.132 4.752 5.264 4.764 5.424 4.78C5.584 4.796 5.744 4.816 5.904 4.84C6.064 4.856 6.196 4.872 6.3 4.888C6.404 4.896 6.456 4.9 6.456 4.9L4.68 11.608C4.6 11.904 4.572 12.132 4.596 12.292C4.62 12.452 4.708 12.568 4.86 12.64C5.012 12.704 5.252 12.744 5.58 12.76L5.532 13C5.292 12.984 4.984 12.976 4.608 12.976C4.24 12.968 3.856 12.964 3.456 12.964C3.064 12.964 2.688 12.968 2.328 12.976C1.968 12.976 1.68 12.984 1.464 13L1.512 12.76C1.848 12.744 2.112 12.704 2.304 12.64C2.496 12.568 2.644 12.452 2.748 12.292C2.86 12.124 2.956 11.896 3.036 11.608L4.872 4.732ZM9.84 4.732C9.56 4.892 9.256 5.004 8.928 5.068C8.608 5.124 8.24 5.152 7.824 5.152C7.472 5.152 7.108 5.132 6.732 5.092C6.364 5.044 5.992 4.992 5.616 4.936C5.24 4.88 4.868 4.832 4.5 4.792C4.14 4.744 3.796 4.72 3.468 4.72C3.204 4.72 2.944 4.736 2.688 4.768C2.44 4.792 2.248 4.844 2.112 4.924C2.272 4.988 2.404 5.1 2.508 5.26C2.612 5.42 2.664 5.604 2.664 5.812C2.664 6.044 2.588 6.252 2.436 6.436C2.292 6.612 2.092 6.7 1.836 6.7C1.596 6.7 1.412 6.62 1.284 6.46C1.156 6.3 1.092 6.108 1.092 5.884C1.092 5.7 1.14 5.508 1.236 5.308C1.34 5.1 1.536 4.924 1.824 4.78C2.008 4.692 2.204 4.628 2.412 4.588C2.628 4.548 2.828 4.524 3.012 4.516C3.196 4.508 3.336 4.504 3.432 4.504C3.976 4.504 4.496 4.54 4.992 4.612C5.496 4.676 5.988 4.744 6.468 4.816C6.948 4.88 7.432 4.912 7.92 4.912C8.344 4.912 8.688 4.884 8.952 4.828C9.224 4.764 9.5 4.66 9.78 4.516L9.84 4.732ZM15.3956 10.36C15.7716 10.216 16.1156 10.068 16.4276 9.916C16.7476 9.756 17.0156 9.588 17.2316 9.412C17.5276 9.148 17.7676 8.84 17.9516 8.488C18.1356 8.128 18.2276 7.736 18.2276 7.312C18.2276 7.128 18.2116 7.008 18.1796 6.952C18.1476 6.896 18.0996 6.868 18.0356 6.868C17.8516 6.868 17.6516 6.956 17.4356 7.132C17.2196 7.308 17.0076 7.552 16.7996 7.864C16.5916 8.168 16.3996 8.512 16.2236 8.896C16.0556 9.28 15.9196 9.684 15.8156 10.108C15.7116 10.532 15.6596 10.952 15.6596 11.368C15.6596 11.792 15.7396 12.092 15.8996 12.268C16.0676 12.436 16.2876 12.52 16.5596 12.52C16.7916 12.52 17.0676 12.444 17.3876 12.292C17.7076 12.14 18.0236 11.864 18.3356 11.464L18.5276 11.56C18.3676 11.824 18.1556 12.08 17.8916 12.328C17.6276 12.576 17.3236 12.78 16.9796 12.94C16.6436 13.092 16.2716 13.168 15.8636 13.168C15.5276 13.168 15.2236 13.104 14.9516 12.976C14.6796 12.848 14.4676 12.66 14.3156 12.412C14.1636 12.156 14.0876 11.844 14.0876 11.476C14.0876 11.084 14.1556 10.668 14.2916 10.228C14.4276 9.78 14.6196 9.344 14.8676 8.92C15.1236 8.496 15.4236 8.112 15.7676 7.768C16.1196 7.424 16.5076 7.152 16.9316 6.952C17.3556 6.744 17.8116 6.64 18.2996 6.64C18.6196 6.64 18.8876 6.716 19.1036 6.868C19.3196 7.012 19.4276 7.236 19.4276 7.54C19.4276 7.852 19.3396 8.144 19.1636 8.416C18.9876 8.688 18.7476 8.936 18.4436 9.16C18.1476 9.384 17.8196 9.584 17.4596 9.76C17.1076 9.936 16.7516 10.088 16.3916 10.216C16.0316 10.344 15.6956 10.448 15.3836 10.528L15.3956 10.36Z' fill='%23282828'/%3e%3cpath d='M12.224 29.808L12.512 29.888C12.4267 30.4747 12.2933 30.976 12.112 31.392C11.9307 31.8187 11.696 32.1493 11.408 32.384C11.184 32.5653 10.8907 32.7147 10.528 32.832C10.176 32.9493 9.78133 33.008 9.344 33.008C8.75733 33.008 8.18133 32.9173 7.616 32.736C7.06133 32.5547 6.496 32.3307 5.92 32.064C5.344 31.808 4.736 31.5573 4.096 31.312C4.02133 31.2907 3.94667 31.264 3.872 31.232C3.808 31.2107 3.75467 31.2 3.712 31.2C3.50933 31.296 3.28533 31.376 3.04 31.44C2.80533 31.504 2.58133 31.536 2.368 31.536C2.15467 31.536 1.97333 31.504 1.824 31.44C1.68533 31.376 1.616 31.2693 1.616 31.12C1.616 30.832 1.90933 30.688 2.496 30.688C2.86933 30.688 3.27467 30.7627 3.712 30.912C4.10667 30.8053 4.44267 30.6827 4.72 30.544C5.008 30.416 5.30133 30.2933 5.6 30.176C5.90933 30.0587 6.28267 29.984 6.72 29.952L6.736 30.208C6.39467 30.24 6.10133 30.2987 5.856 30.384C5.62133 30.48 5.38133 30.5813 5.136 30.688C4.89067 30.7947 4.60267 30.896 4.272 30.992C5.02933 31.0453 5.73333 31.0987 6.384 31.152C7.03467 31.216 7.63733 31.2533 8.192 31.264C8.74667 31.2853 9.248 31.264 9.696 31.2C10.3573 31.1253 10.88 30.9813 11.264 30.768C11.648 30.5547 11.968 30.2347 12.224 29.808ZM6.352 18.448C7.48267 18.448 8.46933 18.6773 9.312 19.136C10.1653 19.5947 10.8267 20.256 11.296 21.12C11.7653 21.9733 12 23.0133 12 24.24C12 25.4347 11.76 26.48 11.28 27.376C10.8 28.272 10.128 28.9707 9.264 29.472C8.41067 29.9733 7.43467 30.224 6.336 30.224C5.20533 30.224 4.21333 29.9947 3.36 29.536C2.51733 29.0773 1.86133 28.416 1.392 27.552C0.922667 26.688 0.688 25.648 0.688 24.432C0.688 23.2373 0.928 22.192 1.408 21.296C1.89867 20.4 2.56533 19.7013 3.408 19.2C4.26133 18.6987 5.24267 18.448 6.352 18.448ZM6.288 18.736C5.69067 18.736 5.168 18.976 4.72 19.456C4.28267 19.936 3.94133 20.5973 3.696 21.44C3.46133 22.2827 3.344 23.2587 3.344 24.368C3.344 25.4987 3.47733 26.4853 3.744 27.328C4.02133 28.16 4.38933 28.8053 4.848 29.264C5.31733 29.712 5.83467 29.936 6.4 29.936C6.99733 29.936 7.51467 29.696 7.952 29.216C8.4 28.736 8.74133 28.0747 8.976 27.232C9.22133 26.3787 9.344 25.4027 9.344 24.304C9.344 23.1627 9.20533 22.176 8.928 21.344C8.66133 20.512 8.29333 19.872 7.824 19.424C7.36533 18.9653 6.85333 18.736 6.288 18.736ZM21.0395 21.552V28.256C21.0395 28.736 21.1142 29.0933 21.2635 29.328C21.4128 29.552 21.6795 29.664 22.0635 29.664V30C21.7328 29.968 21.4022 29.952 21.0715 29.952C20.6235 29.952 20.2075 29.968 19.8235 30C19.4395 30.032 19.0768 30.0907 18.7355 30.176V28.736C18.4795 29.2693 18.1222 29.6533 17.6635 29.888C17.2155 30.112 16.7142 30.224 16.1595 30.224C15.7115 30.224 15.3488 30.1653 15.0715 30.048C14.7942 29.9307 14.5755 29.7813 14.4155 29.6C14.2342 29.3973 14.1062 29.1307 14.0315 28.8C13.9568 28.4693 13.9195 28.0427 13.9195 27.52V23.472C13.9195 22.992 13.8448 22.64 13.6955 22.416C13.5568 22.1813 13.2902 22.064 12.8955 22.064V21.728C13.2368 21.76 13.5675 21.776 13.8875 21.776C14.3355 21.776 14.7515 21.76 15.1355 21.728C15.5302 21.6853 15.8928 21.6267 16.2235 21.552V28.176C16.2235 28.4427 16.2448 28.6773 16.2875 28.88C16.3408 29.0827 16.4368 29.2427 16.5755 29.36C16.7142 29.4667 16.9168 29.52 17.1835 29.52C17.4715 29.52 17.7275 29.44 17.9515 29.28C18.1862 29.12 18.3728 28.9013 18.5115 28.624C18.6608 28.336 18.7355 28.016 18.7355 27.664V23.472C18.7355 22.992 18.6608 22.64 18.5115 22.416C18.3728 22.1813 18.1062 22.064 17.7115 22.064V21.728C18.0528 21.76 18.3835 21.776 18.7035 21.776C19.1515 21.776 19.5675 21.76 19.9515 21.728C20.3462 21.6853 20.7088 21.6267 21.0395 21.552ZM26.9026 21.504C27.6813 21.504 28.364 21.648 28.9506 21.936C29.5373 22.224 29.996 22.688 30.3266 23.328C30.6573 23.968 30.8226 24.816 30.8226 25.872C30.8226 26.928 30.6573 27.776 30.3266 28.416C29.996 29.0453 29.5373 29.504 28.9506 29.792C28.364 30.08 27.6813 30.224 26.9026 30.224C26.1453 30.224 25.468 30.08 24.8706 29.792C24.284 29.504 23.82 29.0453 23.4786 28.416C23.148 27.776 22.9826 26.928 22.9826 25.872C22.9826 24.816 23.148 23.968 23.4786 23.328C23.82 22.688 24.284 22.224 24.8706 21.936C25.468 21.648 26.1453 21.504 26.9026 21.504ZM26.9026 21.824C26.476 21.824 26.1186 22.144 25.8306 22.784C25.5426 23.4133 25.3986 24.4427 25.3986 25.872C25.3986 27.3013 25.5426 28.3307 25.8306 28.96C26.1186 29.5893 26.476 29.904 26.9026 29.904C27.34 29.904 27.6973 29.5893 27.9746 28.96C28.2626 28.3307 28.4066 27.3013 28.4066 25.872C28.4066 24.4427 28.2626 23.4133 27.9746 22.784C27.6973 22.144 27.34 21.824 26.9026 21.824ZM35.0695 19.104V21.728H36.9575V22.048H35.0695V28.512C35.0695 28.832 35.1282 29.0613 35.2455 29.2C35.3628 29.328 35.5388 29.392 35.7735 29.392C35.9655 29.392 36.1575 29.3227 36.3495 29.184C36.5415 29.0347 36.7122 28.784 36.8615 28.432L37.1335 28.576C36.9628 29.056 36.7015 29.4507 36.3495 29.76C36.0082 30.0693 35.5388 30.224 34.9415 30.224C34.5895 30.224 34.2802 30.176 34.0135 30.08C33.7468 29.9947 33.5228 29.8613 33.3415 29.68C33.1068 29.4453 32.9522 29.1573 32.8775 28.816C32.8028 28.464 32.7655 28.0107 32.7655 27.456V22.048H31.4215V21.728H32.7655V19.616C33.2135 19.616 33.6242 19.5787 33.9975 19.504C34.3815 19.4187 34.7388 19.2853 35.0695 19.104ZM39.6545 30.112C39.1745 30.112 38.7745 30.0213 38.4545 29.84C38.1345 29.6587 37.8998 29.4187 37.7505 29.12C37.6012 28.8107 37.5265 28.4747 37.5265 28.112C37.5265 27.6533 37.6278 27.28 37.8305 26.992C38.0438 26.704 38.3158 26.4693 38.6465 26.288C38.9772 26.1067 39.3238 25.9573 39.6865 25.84C40.0598 25.7227 40.4118 25.6107 40.7425 25.504C41.0838 25.3867 41.3558 25.2533 41.5585 25.104C41.7718 24.944 41.8785 24.7413 41.8785 24.496V23.248C41.8785 22.9707 41.8305 22.7253 41.7345 22.512C41.6492 22.288 41.5105 22.1173 41.3185 22C41.1372 21.8827 40.8972 21.824 40.5985 21.824C40.3852 21.824 40.1718 21.856 39.9585 21.92C39.7452 21.9733 39.5692 22.0693 39.4305 22.208C39.7292 22.3147 39.9585 22.48 40.1185 22.704C40.2892 22.9173 40.3745 23.1627 40.3745 23.44C40.3745 23.8027 40.2465 24.0907 39.9905 24.304C39.7452 24.5173 39.4518 24.624 39.1105 24.624C38.7265 24.624 38.4332 24.5067 38.2305 24.272C38.0385 24.0267 37.9425 23.7333 37.9425 23.392C37.9425 23.0827 38.0172 22.8267 38.1665 22.624C38.3265 22.4213 38.5452 22.2293 38.8225 22.048C39.1212 21.8773 39.4785 21.744 39.8945 21.648C40.3212 21.552 40.7798 21.504 41.2705 21.504C41.7612 21.504 42.2038 21.5573 42.5985 21.664C42.9932 21.76 43.3238 21.9413 43.5905 22.208C43.8358 22.4533 43.9958 22.7573 44.0705 23.12C44.1452 23.472 44.1825 23.92 44.1825 24.464V28.816C44.1825 29.0827 44.2092 29.2693 44.2625 29.376C44.3158 29.472 44.4065 29.52 44.5345 29.52C44.6305 29.52 44.7212 29.4933 44.8065 29.44C44.9025 29.3867 45.0038 29.3227 45.1105 29.248L45.2705 29.52C45.0465 29.712 44.7852 29.8613 44.4865 29.968C44.1985 30.064 43.8732 30.112 43.5105 30.112C43.1158 30.112 42.8012 30.0587 42.5665 29.952C42.3318 29.8347 42.1612 29.68 42.0545 29.488C41.9585 29.296 41.9105 29.072 41.9105 28.816C41.6545 29.2213 41.3452 29.5413 40.9825 29.776C40.6198 30 40.1772 30.112 39.6545 30.112ZM40.7905 29.088C41.0038 29.088 41.1958 29.04 41.3665 28.944C41.5478 28.8373 41.7185 28.6667 41.8785 28.432V25.152C41.7825 25.312 41.6492 25.456 41.4785 25.584C41.3078 25.712 41.1265 25.8453 40.9345 25.984C40.7425 26.112 40.5558 26.256 40.3745 26.416C40.2038 26.576 40.0652 26.7733 39.9585 27.008C39.8518 27.2427 39.7985 27.5253 39.7985 27.856C39.7985 28.272 39.8892 28.5813 40.0705 28.784C40.2518 28.9867 40.4918 29.088 40.7905 29.088ZM48.9758 19.104V21.728H50.8638V22.048H48.9758V28.512C48.9758 28.832 49.0344 29.0613 49.1518 29.2C49.2691 29.328 49.4451 29.392 49.6798 29.392C49.8718 29.392 50.0638 29.3227 50.2558 29.184C50.4478 29.0347 50.6184 28.784 50.7678 28.432L51.0398 28.576C50.8691 29.056 50.6078 29.4507 50.2558 29.76C49.9144 30.0693 49.4451 30.224 48.8478 30.224C48.4958 30.224 48.1864 30.176 47.9198 30.08C47.6531 29.9947 47.4291 29.8613 47.2478 29.68C47.0131 29.4453 46.8584 29.1573 46.7838 28.816C46.7091 28.464 46.6718 28.0107 46.6718 27.456V22.048H45.3277V21.728H46.6718V19.616C47.1198 19.616 47.5304 19.5787 47.9038 19.504C48.2878 19.4187 48.6451 19.2853 48.9758 19.104ZM53.4328 17.6C53.8808 17.6 54.2328 17.712 54.4888 17.936C54.7554 18.1493 54.8888 18.448 54.8888 18.832C54.8888 19.216 54.7554 19.52 54.4888 19.744C54.2328 19.9573 53.8808 20.064 53.4328 20.064C52.9848 20.064 52.6274 19.9573 52.3608 19.744C52.1048 19.52 51.9768 19.216 51.9768 18.832C51.9768 18.448 52.1048 18.1493 52.3608 17.936C52.6274 17.712 52.9848 17.6 53.4328 17.6ZM54.6808 21.552V28.512C54.6808 28.96 54.7554 29.264 54.9048 29.424C55.0648 29.584 55.3314 29.664 55.7048 29.664V30C55.5128 29.9893 55.2141 29.9787 54.8088 29.968C54.4034 29.9467 53.9928 29.936 53.5768 29.936C53.1608 29.936 52.7394 29.9467 52.3128 29.968C51.8861 29.9787 51.5661 29.9893 51.3528 30V29.664C51.7261 29.664 51.9874 29.584 52.1368 29.424C52.2968 29.264 52.3768 28.96 52.3768 28.512V23.472C52.3768 22.992 52.3021 22.64 52.1528 22.416C52.0141 22.1813 51.7474 22.064 51.3528 22.064V21.728C51.6941 21.76 52.0248 21.776 52.3448 21.776C52.7928 21.776 53.2088 21.76 53.5928 21.728C53.9874 21.6853 54.3501 21.6267 54.6808 21.552ZM60.5276 21.504C61.3063 21.504 61.989 21.648 62.5756 21.936C63.1623 22.224 63.621 22.688 63.9516 23.328C64.2823 23.968 64.4476 24.816 64.4476 25.872C64.4476 26.928 64.2823 27.776 63.9516 28.416C63.621 29.0453 63.1623 29.504 62.5756 29.792C61.989 30.08 61.3063 30.224 60.5276 30.224C59.7703 30.224 59.093 30.08 58.4956 29.792C57.909 29.504 57.445 29.0453 57.1036 28.416C56.773 27.776 56.6076 26.928 56.6076 25.872C56.6076 24.816 56.773 23.968 57.1036 23.328C57.445 22.688 57.909 22.224 58.4956 21.936C59.093 21.648 59.7703 21.504 60.5276 21.504ZM60.5276 21.824C60.101 21.824 59.7436 22.144 59.4556 22.784C59.1676 23.4133 59.0236 24.4427 59.0236 25.872C59.0236 27.3013 59.1676 28.3307 59.4556 28.96C59.7436 29.5893 60.101 29.904 60.5276 29.904C60.965 29.904 61.3223 29.5893 61.5996 28.96C61.8876 28.3307 62.0316 27.3013 62.0316 25.872C62.0316 24.4427 61.8876 23.4133 61.5996 22.784C61.3223 22.144 60.965 21.824 60.5276 21.824ZM71.3985 21.504C71.8465 21.504 72.2092 21.5627 72.4865 21.68C72.7745 21.7867 72.9985 21.936 73.1585 22.128C73.3292 22.3307 73.4518 22.592 73.5265 22.912C73.6118 23.232 73.6545 23.664 73.6545 24.208V28.512C73.6545 28.96 73.7292 29.264 73.8785 29.424C74.0385 29.584 74.3052 29.664 74.6785 29.664V30C74.4758 29.9893 74.1718 29.9787 73.7665 29.968C73.3612 29.9467 72.9612 29.936 72.5665 29.936C72.1612 29.936 71.7612 29.9467 71.3665 29.968C70.9825 29.9787 70.6892 29.9893 70.4865 30V29.664C70.8065 29.664 71.0305 29.584 71.1585 29.424C71.2865 29.264 71.3505 28.96 71.3505 28.512V23.536C71.3505 23.2693 71.3238 23.04 71.2705 22.848C71.2172 22.6453 71.1212 22.4907 70.9825 22.384C70.8438 22.2667 70.6358 22.208 70.3585 22.208C70.0705 22.208 69.8038 22.288 69.5585 22.448C69.3238 22.608 69.1318 22.832 68.9825 23.12C68.8438 23.3973 68.7745 23.712 68.7745 24.064V28.512C68.7745 28.96 68.8385 29.264 68.9665 29.424C69.1052 29.584 69.3292 29.664 69.6385 29.664V30C69.4465 29.9893 69.1638 29.9787 68.7905 29.968C68.4278 29.9467 68.0492 29.936 67.6545 29.936C67.2492 29.936 66.8332 29.9467 66.4065 29.968C65.9798 29.9787 65.6598 29.9893 65.4465 30V29.664C65.8198 29.664 66.0812 29.584 66.2305 29.424C66.3905 29.264 66.4705 28.96 66.4705 28.512V23.472C66.4705 22.992 66.3958 22.64 66.2465 22.416C66.1078 22.1813 65.8412 22.064 65.4465 22.064V21.728C65.7878 21.76 66.1185 21.776 66.4385 21.776C66.8865 21.776 67.3025 21.76 67.6865 21.728C68.0812 21.6853 68.4438 21.6267 68.7745 21.552V22.992C69.0412 22.448 69.4038 22.064 69.8625 21.84C70.3212 21.616 70.8332 21.504 71.3985 21.504Z' fill='black'/%3e%3c/svg%3e ");
}

.header-the {
  font-size: 60rpx;
  font-style: italic;
  color: #111827;
}

.header-quotation {
  font-size: 100rpx;
  font-weight: 700;
  color: #111827;
}

.card-meta {
  margin-bottom: 32rpx;
}

.meta-row {
  display: flex;
  align-items: center;
  margin-top: 10rpx;
}

.meta-icon {
  margin-right: 12rpx;
  font-size: 22rpx;
}

.meta-text {
  font-size: 22rpx;
  color: #6b7280;
}

.meta-project {
  justify-content: space-between;
}

.meta-label {
  font-size: 22rpx;
  letter-spacing: 2rpx;
  color: #9ca3af;
  text-transform: uppercase;
}

.meta-value {
  max-width: 360rpx;
  text-align: right;
  font-size: 24rpx;
  font-weight: 500;
  color: #111827;
}

.section-block {
  margin-bottom: 50rpx;
}

.section-header-row {
  display: flex;
  align-items: center;
  padding-bottom: 10rpx;
  border-bottom: 2rpx solid #111827;
  font-size: 22rpx;
  letter-spacing: 2rpx;
  color: #6b7280;
}

.col-project {
  flex: 2.2;
}

.col-price {
  flex: 1.4;
  text-align: right;
}

.col-time {
  flex: 1.1;
  text-align: right;
}

.section-item-row {
  display: flex;
  align-items: center;
  padding: 18rpx 0;
  border-bottom: 2rpx dotted #d1d5db;
  font-size: 24rpx;
}

.section-item-row:last-child {
  border-bottom-width: 0;
}

.section-item-row .col-project {
  font-weight: 500;
  color: #1f2933;
}

.section-item-row .col-price {
  color: #111827;
}

.section-item-row .col-time {
  color: #6b7280;
}

.section-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10rpx;
  border-bottom: 2rpx solid #111827;
}

.section-title-main {
  display: flex;
  gap: 24rpx;
}

.section-title-label {
  font-size: 24rpx;
  font-weight: 600;
  color: #111827;
}

.section-title-en {
  margin-top: 4rpx;
  font-size: 20rpx;
  letter-spacing: 3rpx;
  text-transform: uppercase;
  color: #9ca3af;
}

.section-payment-rows {
  margin-top: 10rpx;
}

.payment-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18rpx 0;
  border-bottom: 2rpx dotted #d1d5db;
  font-size: 24rpx;
}

.payment-row:last-child {
  border-bottom-width: 0;
}

.payment-name {
  color: #1f2933;
}

.payment-amount {
  font-weight: 600;
  color: #111827;
}

.remarks-body {
  display: flex;
  align-items: flex-start;
  padding-top: 18rpx;
  font-size: 22rpx;
  color: #4b5563;
}

.remarks-icon {
  margin-right: 10rpx;
}

.remarks-text {
  flex: 1;
  line-height: 1.7;
}

.summary-card {
  margin-top: 10rpx;
  padding: 30rpx;
  background: #f3f4f6;
  border-radius: 20rpx;
}

.summary-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22rpx;
  color: #4b5563;
  margin-bottom: 20rpx;
}

.summary-row + .summary-row {
  margin-top: 8rpx;
}

.summary-label {
  flex: 1.4;
}

.summary-value {
  font-weight: 500;
  color: #111827;
  letter-spacing: 1rpx;
}

.summary-discount {
  font-weight: 500;
  color: #b91c1c;
  letter-spacing: 1rpx;
}

.summary-divider {
  margin: 14rpx 0;
  height: 2rpx;
  background: #d1d5db;
}

.summary-total-row {
  align-items: baseline;
}

.summary-total-label {
  font-size: 24rpx;
  font-weight: 600;
  color: #111827;
}

.summary-total-value {
  font-size: 30rpx;
  font-weight: 700;
  color: #111827;
  letter-spacing: 1rpx;
}

.quote-card {
  padding: 40rpx 60rpx;
}

.header-quotation {
  font-size: 48rpx;
}

.section-item-row {
  font-size: 22rpx;
}
