.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.font-bold {
  font-weight: 600;
}

.ml-s {
  margin-left: 8rpx;
}
