.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.font-bold {
  font-weight: 600;
}

[class^="icon--"],
[class*=" icon--"] {
  display: inline-block;
  width: 20px; // 默认大小，能被后面的icon-size-xx覆盖
  height: 20px;
  background-color: currentColor; // 颜色由字体颜色决定
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-position: center;
  mask-position: center;
}

.icon-color-error {
  color: #af6b66;
}

// 大小类
@for $i from 10 through 70 {
  .icon-size-#{$i} {
    width: #{$i}px;
    height: #{$i}px;
  }
}

@mixin icon($svg-url) {
  -webkit-mask-image: url("#{$svg-url}");
  mask-image: url("#{$svg-url}");
}

// spell-checker: disable
/* prettier-ignore */
.icon{
    &--delete-16-regular{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M7 3h2a1 1 0 0 0-2 0M6 3a2 2 0 1 1 4 0h4a.5.5 0 0 1 0 1h-.564l-1.205 8.838A2.5 2.5 0 0 1 9.754 15H6.246a2.5 2.5 0 0 1-2.477-2.162L2.564 4H2a.5.5 0 0 1 0-1zm1 3.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0zM9.5 6a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 .5-.5m-4.74 6.703A1.5 1.5 0 0 0 6.246 14h3.508a1.5 1.5 0 0 0 1.487-1.297L12.427 4H3.573z'/%3E%3C/svg%3E")}
    &--circle-chevron-up{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8 13.5l4-4l4 4'/%3E%3C/g%3E%3C/svg%3E")}
    &--park-outline--move{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M22 43c-4.726-1.767-8.667-7.815-10.64-11.357c-.852-1.53-.403-3.408.964-4.502a3.83 3.83 0 0 1 5.1.283L19 29V17.5a2.5 2.5 0 0 1 5 0v6a2.5 2.5 0 0 1 5 0v2a2.5 2.5 0 0 1 5 0v2a2.5 2.5 0 0 1 5 0v7.868c0 1.07-.265 2.128-.882 3.003C37.095 39.82 35.256 42.034 33 43c-3.5 1.5-6.63 1.634-11 0M10 8h22m-18 4l-4-4l4-4m14 0l4 4l-4 4'/%3E%3C/svg%3E")}
    &--move-y-circle{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M8.232 9.974a1 1 0 0 1 .128-1.409l4-3.333a1 1 0 1 1 1.28 1.536l-4 3.334a1 1 0 0 1-1.408-.128'/%3E%3Cpath d='M17.768 9.974a1 1 0 0 1-1.408.128l-4-3.334a1 1 0 1 1 1.28-1.536l4 3.333a1 1 0 0 1 .128 1.409'/%3E%3Cpath d='M13 7a1 1 0 0 1 1 1v8a1 1 0 1 1-2 0V8a1 1 0 0 1 1-1m4.768 9.026a1 1 0 0 1-.128 1.409l-4 3.333a1 1 0 0 1-1.28-1.536l4-3.334a1 1 0 0 1 1.408.128'/%3E%3Cpath d='M8.232 16.026a1 1 0 0 1 1.408-.128l4 3.334a1 1 0 1 1-1.28 1.536l-4-3.333a1 1 0 0 1-.128-1.408'/%3E%3Cpath d='M13 19a1 1 0 0 1-1-1v-8a1 1 0 1 1 2 0v8a1 1 0 0 1-1 1'/%3E%3Cpath d='M13 24c6.075 0 11-4.925 11-11S19.075 2 13 2S2 6.925 2 13s4.925 11 11 11m0 2c7.18 0 13-5.82 13-13S20.18 0 13 0S0 5.82 0 13s5.82 13 13 13'/%3E%3C/g%3E%3C/svg%3E")}
    &--return{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M16 12H8m0 0l3.5 3.5M8 12l3.5-3.5M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10'/%3E%3C/svg%3E")}
    &--eye{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21.87 11.5c-.64-1.11-4.16-6.68-10.14-6.5c-5.53.14-8.73 5-9.6 6.5a1 1 0 0 0 0 1c.63 1.09 4 6.5 9.89 6.5h.25c5.53-.14 8.74-5 9.6-6.5a1 1 0 0 0 0-1M12.22 17c-4.31.1-7.12-3.59-8-5c1-1.61 3.61-4.9 7.61-5c4.29-.11 7.11 3.59 8 5c-1.03 1.61-3.61 4.9-7.61 5'/%3E%3Cpath fill='%23000' d='M12 8.5a3.5 3.5 0 1 0 3.5 3.5A3.5 3.5 0 0 0 12 8.5m0 5a1.5 1.5 0 1 1 1.5-1.5a1.5 1.5 0 0 1-1.5 1.5'/%3E%3C/svg%3E")}
    &--eye-off{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4.707 3.293a1 1 0 0 0-1.414 1.414l2.424 2.424c-1.43 1.076-2.678 2.554-3.611 4.422a1 1 0 0 0 0 .894C4.264 16.764 8.096 19 12 19c1.555 0 3.1-.355 4.53-1.055l2.763 2.762a1 1 0 0 0 1.414-1.414zm10.307 13.135c-.98.383-2 .572-3.014.572c-2.969 0-6.002-1.62-7.87-5c.817-1.479 1.858-2.62 3.018-3.437l2.144 2.144a3 3 0 0 0 4.001 4.001zm3.538-2.532c.483-.556.926-1.187 1.318-1.896c-1.868-3.38-4.9-5-7.87-5q-.168 0-.336.007L9.879 5.223A10.2 10.2 0 0 1 12 5c3.903 0 7.736 2.236 9.894 6.553a1 1 0 0 1 0 .894a13 13 0 0 1-1.925 2.865z'/%3E%3C/svg%3E")}
    &--share{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81c1.66 0 3-1.34 3-3s-1.34-3-3-3s-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65c0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92'/%3E%3C/svg%3E")}
    &--more{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' d='M16 24a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0m11.5 0a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0m8 3.5a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7' stroke-width='1' stroke='%23000'/%3E%3C/svg%3E")}
    &--loading{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000'%3E%3Canimate attributeName='r' begin='0' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000' transform='rotate(45 12 12)'%3E%3Canimate attributeName='r' begin='0.125s' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000' transform='rotate(90 12 12)'%3E%3Canimate attributeName='r' begin='0.25s' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000' transform='rotate(135 12 12)'%3E%3Canimate attributeName='r' begin='0.375s' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000' transform='rotate(180 12 12)'%3E%3Canimate attributeName='r' begin='0.5s' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000' transform='rotate(225 12 12)'%3E%3Canimate attributeName='r' begin='0.625s' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000' transform='rotate(270 12 12)'%3E%3Canimate attributeName='r' begin='0.75s' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3Ccircle cx='12' cy='2' r='0' fill='%23000' transform='rotate(315 12 12)'%3E%3Canimate attributeName='r' begin='0.875s' calcMode='spline' dur='1s' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' repeatCount='indefinite' values='0;2;0;0'/%3E%3C/circle%3E%3C/svg%3E")}
    &--recycle{@include icon("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M100 208a12 12 0 0 1-12 12H40a28 28 0 0 1-24.23-42l29.45-50.88l-4.76 1.27a12 12 0 1 1-6.2-23.18l32.77-8.77a12 12 0 0 1 14.69 8.48l8.79 32.77a12 12 0 1 1-23.17 6.22L66.08 139l-29.5 51a4 4 0 0 0 3.42 6h48a12 12 0 0 1 12 12m28-172a3.87 3.87 0 0 1 3.46 2l29.45 50.87l-4.75-1.27a12 12 0 1 0-6.16 23.18l32.77 8.79a12 12 0 0 0 14.69-8.48l8.74-32.79a12 12 0 1 0-23.2-6.22l-1.31 4.86L152.23 26a28 28 0 0 0-48.46 0L80.61 66a12 12 0 1 0 20.77 12l23.16-40a3.87 3.87 0 0 1 3.46-2m112.19 142l-23.14-40a12 12 0 1 0-20.77 12l23.14 40a4 4 0 0 1-3.46 6H157l3.51-3.51a12 12 0 1 0-17-17l-24 24a12 12 0 0 0 0 17l24 24a12 12 0 1 0 17-17L157 220h59a28 28 0 0 0 24.23-42Z'/%3E%3C/svg%3E")}
}

/* prettier-ignore */
.font-{
  &xxl { font-size: 34rpx; }  // 页面大标题 / 报价单标题
  &xl  { font-size: 32rpx; }  // 页面主标题 / 重要状态
  &lg  { font-size: 28rpx; }  // 区块标题
  &md  { font-size: 26rpx; }  // 卡片标题 / 列表项标题
  &sm  { font-size: 24rpx; }  // 正文
  &xs  { font-size: 22rpx; }  // 辅助说明
  &xxs { font-size: 20rpx; }  // 标签、小字
}
/* prettier-ignore */
.text-{
  &primary   { color: #38312b; }
  &secondary { color: #8a7e72; }
  &muted     { color: #b0a69d; }
  &inverse   { color: #fdfaf7; }
  &error     { color: #cf1322; }
  &success   { color: #3aa776; }
  &warning   { color: #d89614; }
  &info      { color: #1d5fd1; }
}

/* prettier-ignore */
.round-{
  &sm { border-radius: 8rpx; }
  &md { border-radius: 12rpx; }
  &lg { border-radius: 16rpx; }
  &xl { border-radius: 24rpx; }
  &pill { border-radius: 999rpx; }
}

$space-scale: (
  xxs: 4rpx,
  xs: 8rpx,
  sm: 12rpx,
  md: 16rpx,
  lg: 24rpx,
  xl: 32rpx,
);

/* prettier-ignore */
@each $name, $size in $space-scale {
  .m-#{$name} { margin: $size; }
  .mt-#{$name} { margin-top: $size; }
  .mr-#{$name} { margin-right: $size; }
  .mb-#{$name} { margin-bottom: $size; }
  .ml-#{$name} { margin-left: $size; }

  .p-#{$name} { padding: $size; }
  .pt-#{$name} { padding-top: $size; }
  .pr-#{$name} { padding-right: $size; }
  .pb-#{$name} { padding-bottom: $size; }
  .pl-#{$name} { padding-left: $size; }
}

$shadow-color: rgba(0, 0, 0, 0.06);
/* prettier-ignore */
.shadow-{
  &sm { box-shadow: 0 4rpx 12rpx $shadow-color; }
  &md { box-shadow: 0 8rpx 24rpx $shadow-color; }
  &lg { box-shadow: 0 16rpx 40rpx $shadow-color; }
}
